

.navc{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#m1{
    background-color: white;
    text-align: center;
    color: black;
    border:0.5px solid black;
}
#m2{
    background-color: white;
    text-align: center;
    color: black;
    border:0.5px solid black;
}
#m3{
    background-color: white;
    text-align: center;
    color: black;
    border:0.5px solid black;
}
.az{
    background-color: gray;
    
    height:1000px;
    
}
#m4{
    margin-top:0;
    margin-bottom: 0;
}
#c5{
    font-size: 20px;
}
