h1{
    text-align: center;
    margin-bottom:50px;
}
*{
    box-sizing: border-box;
}
.row{
    width:100%;
}

.a1{
    width:70px;
    background-color:plum;
    width:70px;
    border:2px solid black;
    text-align: center;
    float:right;
    position: relative;
    bottom:12px;
    left:12px;
   
}
.a2{
    width:70px;
    background-color:red;
    width:70px;
    border:2px solid black;
    text-align: center;
    color:white;
    float:right;
    position: relative;
    bottom:12px;
    left:12px;
   
}
.a3{
    width:70px;
    background-color:yellow;
    width:70px;
    border:2px solid black;
    text-align: center;
    float:right;
    position: relative;
    bottom:12px;
    left:12px;
    
   
    
}
.b1{
   
    background-color: gray;
    border:2px solid black;
    padding:10px;
    margin:10px;
    float:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.b2{
    
    background-color: gray;
    border:2px solid black;
    padding:10px;
    margin:10px;
    float:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.b3{
    
    background-color: gray;
    border:2px solid black;
    padding:10px;
    margin:10px;
    float:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
@media(min-width:992px){
    .b1,.b2,.b3{
        float:left;
        width:31%;
    }
    
    
}
@media(min-width:787px) and (max-width:991px){
    .b1,.b2{
        float:left;
        width:45%;
    }
    
    .b3{
        clear:both;
        width:92.5%;
    }
    

}
@media(max-width:786px){
    .b1,.b2,.b3{
        width:100%;
    }
}

