h1{
    text-align: center;
    margin-bottom:50px;
}
*{
    box-sizing: border-box;
}
.row{
    width:100%;
}

.a1{
    width:70px;
    background-color:plum;
    width:70px;
    border:2px solid black;
    text-align: center;
    position: relative;
    left:368px;
    bottom:12px;
   
}
.a2{
    width:70px;
    background-color:red;
    width:70px;
    border:2px solid black;
    text-align: center;
    color:white;
    position: relative;
    left:368px;
    bottom:12px;
    
}
.a3{
    width:70px;
    background-color:yellow;
    width:70px;
    border:2px solid black;
    text-align: center;
    position: relative;
    left:368px;
    bottom:12px;
    
}
.b1{
    width:450px;
    background-color: gray;
    border:2px solid black;
    padding:10px;
    margin:20px;
    float:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.b2{
    width:450px;
    background-color: gray;
    border:2px solid black;
    padding:10px;
    margin:20px;
    float:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.b3{
    width:450px;
    background-color: gray;
    border:2px solid black;
    padding:10px;
    margin:20px;
    float:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


